<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>管理员界面</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/manage.css" th:href="@{/css/manage.css}"/>
	<script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
</head>
<body class="home">
<div class="move-right">
	<div class="header">
		<div class="box-left">
			<span class="glyphicon glyphicon-th-list"></span>
			<span>menu</span>
		</div>
		<div class="box-right">
			<div class="search-info">
				<span class="glyphicon glyphicon-search"></span>
				<span><!-- search for inspiration --></span>
			</div>
			<div class="co-logo"></div>
			<div class="login-btn">
				<a class="totop-img" href="javascript:void(0);"><span class="glyphicon glyphicon-collapse-up"></span></a>
				<a class="login-font" href="index.html"><span>Home</span></a>
			</div>
			<div class="logo-header">
				<img src="../static/images/logo.png" th:src="@{/images/logo.png}"/>
			</div>
		</div>
		<div class="box-right-search">
			<div class="to-dropdown">
				<span class="search-type">all</span><span class="glyphicon glyphicon-triangle-bottom"></span>
				<div class="menu-dropdown">
                    <ul>
                        <li><strong><a href="#">用户</a></strong></li>
                        <li><strong><a href="#">题目</a></strong></li>
                        <li><strong><a href="#">试卷</a></strong></li>
                        <li><strong><a href="#">Elements</a></strong></li>
                        <li><strong><a href="#">Magazine</a></strong></li>
                        <li><strong><a href="#">Jobs</a></strong></li>
                        <li><strong><a href="#">Users</a></strong></li>
                    </ul>
                </div>
			</div>
			<input type="text" id="search-text" placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder-mobile="SEARCH FOR INSPIRATION" autocomplete="off" class="search-input" value=""/>
			<div class="search-goto">
	            <strong><a href="" class="link-1">SHOW FILTERS</a></strong>
	        </div>
	        <div class="box-close">
			    <span class="glyphicon glyphicon-remove"></span>
			</div>
		</div>
	</div>
	<div class="overlay-content" style="display: block;"></div>
<!-- 	<div class="black-out-curtain">
	<div>
		<span class="glyphicon glyphicon-remove" style="float: right;color: red;cursor: pointer;font-size: 18px;"></span>
		<h2>主页显示设置</h2>
		<form class="index-show-list" th:each="index,state : ${indexList}" th:switch="${state.index}"> 
			<label th:if="${index} == '0'" th:case="0" ><input name="fast-access" type="checkbox" value="用户列表" /><span class="glyphicon glyphicon-user"></span> 用户列表 </label> <br/>
			<label th:if="${index} == '1'" th:case="0" ><input name="fast-access" type="checkbox" checked="checked" value="用户列表" /><span class="glyphicon glyphicon-user"></span> 用户列表 </label> <br/>
			<label th:if="${index} == '0'" th:case="1" ><input name="fast-access" type="checkbox" value="添加用户" /><span class="glyphicon glyphicon-download"></span> 添加用户 </label> <br/>
			<label th:if="${index} == '1'" th:case="1" ><input name="fast-access" type="checkbox" checked="checked" value="添加用户" /><span class="glyphicon glyphicon-download"></span> 添加用户 </label> <br/>
			<label th:if="${index} == '0'" th:case="2" ><input name="fast-access" type="checkbox" value="题目列表" /><span class="glyphicon glyphicon-pencil"></span> 题目列表 </label> <br/>
			<label th:if="${index} == '1'" th:case="2" ><input name="fast-access" type="checkbox" checked="checked" value="题目列表" /><span class="glyphicon glyphicon-pencil"></span> 题目列表 </label> <br/>
			<label th:if="${index} == '0'" th:case="3" ><input name="fast-access" type="checkbox" value="添加题目" /><span class="glyphicon glyphicon-download"></span> 添加题目 </label> <br/>
			<label th:if="${index} == '1'" th:case="3" ><input name="fast-access" type="checkbox" checked="checked" value="添加题目" /><span class="glyphicon glyphicon-download"></span> 添加题目 </label> <br/>
			<label th:if="${index} == '0'" th:case="4" ><input name="fast-access" type="checkbox" value="试卷列表" /><span class="glyphicon glyphicon-list-alt"></span> 试卷列表 </label> <br/>
			<label th:if="${index} == '1'" th:case="4" ><input name="fast-access" type="checkbox" checked="checked" value="试卷列表" /><span class="glyphicon glyphicon-list-alt"></span> 试卷列表 </label> <br/>
			<label th:if="${index} == '0'" th:case="5" ><input name="fast-access" type="checkbox" value="创建试卷" /><span class="glyphicon glyphicon-download"></span> 创建试卷 </label> <br/>
			<label th:if="${index} == '1'" th:case="5" ><input name="fast-access" type="checkbox" checked="checked" value="创建试卷" /><span class="glyphicon glyphicon-download"></span> 创建试卷 </label> <br/>
			<label th:if="${index} == '0'" th:case="6" ><input name="fast-access" type="checkbox" value="信息发布" /><span class="glyphicon glyphicon-envelope"></span> 信息发布 </label> <br/>
			<label th:if="${index} == '1'" th:case="6" ><input name="fast-access" type="checkbox" checked="checked" value="信息发布" /><span class="glyphicon glyphicon-envelope"></span> 信息发布 </label> <br/>
			<label th:if="${index} == '0'" th:case="7" ><input name="fast-access" type="checkbox" value="职业管理" /><span class="glyphicon glyphicon-education"></span> 职业管理 </label> <br/>
			<label th:if="${index} == '1'" th:case="7" ><input name="fast-access" type="checkbox" checked="checked" value="职业管理" /><span class="glyphicon glyphicon-education"></span> 职业管理 </label> <br/>
			<label th:if="${index} == '0'" th:case="8" ><input name="fast-access" type="checkbox" value="个人信息管理" /><span class="glyphicon glyphicon-edit"></span> 个人信息管理 </label> <br/>
			<label th:if="${index} == '1'" th:case="8" ><input name="fast-access" type="checkbox" checked="checked" value="个人信息管理" /><span class="glyphicon glyphicon-edit"></span> 个人信息管理 </label> <br/>
			<label><input type="submit" class="set-index-list"/></label>
		</form>
	</div>
</div>
 -->






	<div class="showview">
		<!-- <div class="head-view">首页</div> -->
		<div class="mgmt-index">		<!-- 这里还是拆开吧 好做一点,不然得修改超链接地址 class值 -->
			<div th:each="index,state : ${indexList}" th:switch="${state.index}">
					<div th:if="${index} == '1'" th:case="0" class="fast-access" ><a href="manage-userlist.html"><span class="glyphicon glyphicon-user"></span> 用户列表</a></div>
					<div th:if="${index} == '1'" th:case="1" class="fast-access" ><a href="manage-adduser.html"><span class="glyphicon glyphicon-download"></span> 添加用户</a></div>
					<div th:if="${index} == '1'" th:case="2" class="fast-access" ><a href="manage-subjectlist.html"><span class="glyphicon glyphicon-pencil"></span> 题目列表</a></div>
					<div th:if="${index} == '1'" th:case="3" class="fast-access" ><a href="manage-addsubject.html"><span class="glyphicon glyphicon-download"></span> 添加题目</a></div>
					<div th:if="${index} == '1'" th:case="4" class="fast-access" ><a href="manage-tplist.html"><span class="glyphicon glyphicon-list-alt"></span> 试卷列表</a></div>
					<div th:if="${index} == '1'" th:case="5" class="fast-access" ><a href="manage-addtp.html"><span class="glyphicon glyphicon-download"></span> 创建试卷</a></div>
					<div th:if="${index} == '1'" th:case="6" class="fast-access" ><a href="manage-bbs.html"><span class="glyphicon glyphicon-envelope"></span> 信息发布</a></div>
					<div th:if="${index} == '1'" th:case="7" class="fast-access" ><a href="manage-pro.html"><span class="glyphicon glyphicon-education"></span> 职业管理</a></div>
					<div th:if="${index} == '1'" th:case="8" class="fast-access" ><a href="manage-info.html"><span class="glyphicon glyphicon-edit"></span> 个人信息管理</a></div> 
			</div>
			<div class="add-fast-access"><span class="glyphicon glyphicon-plus-sign" data-toggle="modal" data-target="#qweModal"></span></div>
		</div>
		<div class="footers">
            <div class="row">
                <div class="col-md-1">
                    <img src="../static/images/1.png" th:src="@{/images/1.png}"/>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="qweModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					主页显示设置
				</h4>
			</div>
			<div class="modal-body">
				<form class="index-show-list">
					<div th:each="index,state : ${indexList}" th:switch="${state.index}">
						<label th:case="0"><input name="fast-access" type="checkbox" th:checked="${index} == '1' ? checked" value="用户列表" /><span class="glyphicon glyphicon-user"></span> 用户列表 </label> <br/>
						<label th:case="1"><input name="fast-access" type="checkbox" th:checked="${index} == '1' ? checked" value="添加用户" /><span class="glyphicon glyphicon-download"></span> 添加用户 </label> <br/>
						<label th:case="2"><input name="fast-access" type="checkbox" th:checked="${index} == '1' ? checked" value="题目列表" /><span class="glyphicon glyphicon-pencil"></span> 题目列表 </label> <br/>
						<label th:case="3"><input name="fast-access" type="checkbox" th:checked="${index} == '1' ? checked" value="添加题目" /><span class="glyphicon glyphicon-download"></span> 添加题目 </label> <br/>
						<label th:case="4"><input name="fast-access" type="checkbox" th:checked="${index} == '1' ? checked" value="试卷列表" /><span class="glyphicon glyphicon-list-alt"></span> 试卷列表 </label> <br/>
						<label th:case="5"><input name="fast-access" type="checkbox" th:checked="${index} == '1' ? checked" value="创建试卷" /><span class="glyphicon glyphicon-download"></span> 创建试卷 </label> <br/>
						<label th:case="6"><input name="fast-access" type="checkbox" th:checked="${index} == '1' ? checked" value="信息发布" /><span class="glyphicon glyphicon-envelope"></span> 信息发布 </label> <br/>
						<label th:case="7"><input name="fast-access" type="checkbox" th:checked="${index} == '1' ? checked" value="职业管理" /><span class="glyphicon glyphicon-education"></span> 职业管理 </label> <br/>
						<label th:case="8"><input name="fast-access" type="checkbox" th:checked="${index} == '1' ? checked" value="个人信息管理" /><span class="glyphicon glyphicon-edit"></span> 个人信息管理 </label> <br/>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" id="set-index-list">
					提交更改
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div class="menu">
	<div class="menu-in">
		<div class="menu-top">
			<!-- <div class="pull-left">
				<span>setting</span>
			</div> -->
			<div class="pull-right">
				<span>close</span>
				<span class="glyphicon glyphicon-remove"></span>
			</div>
		</div>
		<div class="second-menu">
			<a href="manage-index.html"><div class="link"><span class="glyphicon glyphicon-home"></span>管理员主页</div></a>
		</div>
		<div class="second-menu">
			<div class="1">用户管理<span class="glyphicon glyphicon-menu-hamburger"></span></div>
			<ul class="second-menu-1">
				<a href="manage-userlist.html"><li>用户列表</li></a>
				<!-- <a href="manage-adduser.html"><li>添加用户</li></a> -->
			</ul>
		</div>
		<div class="second-menu">
			<div class="2">考题管理<span class="glyphicon glyphicon-menu-hamburger"></span></div>
			<ul class="second-menu-2">
				<a href="manage-subjectlist.html"><li>题目列表</li></a>
				<a href="manage-addsubject.html"><li>添加题目</li></a>
			</ul>
		</div>
		<div class="second-menu">
			<div class="3">试卷管理<span class="glyphicon glyphicon-menu-hamburger"></span></div>
			<ul class="second-menu-3">
				<a href="manage-tplist.html"><li>试卷列表</li></a>
				<a href="manage-addtp.html"><li>创建试卷</li></a>
			</ul>
		</div>
		<div class="second-menu">
			<div class="4">后台管理<span class="glyphicon glyphicon-menu-hamburger"></span></div>
			<ul class="second-menu-4">
				<a href="manage-bbs.html"><li>信息发布</li></a>
				<a href="manage-pro.html"><li>职业管理</li></a>
				<a href="manage-info.html"><li>个人信息管理</li></a>
			</ul>
		</div>
		<div class="menu-foot"></div>
	</div>
</div>

<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/manage.js" th:src="@{/js/manage.js}"></script>
</body>
</html>