<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>超级管理员界面</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/manage.css" th:href="@{/css/manage.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/css/zh-page.css" th:href="@{/css/zh-page.css}"/>
	<script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
</head>
<body class="home">
<div class="move-right">
	<div class="header">
		<div class="box-left">
			<span class="glyphicon glyphicon-th-list"></span>
			<span>menu</span>
		</div>
		<div class="box-right">
			<div class="search-info">
				<span class="glyphicon glyphicon-search"></span>
				<span>search for inspiration</span>
			</div>
			<div class="co-logo"></div>
			<div class="login-btn">
				<a class="totop-img" href="javascript:void(0);"><span class="glyphicon glyphicon-collapse-up"></span></a>
				<a class="login-font" href=""><span>submit your site</span></a>
			</div>
			<div class="logo-header">
				<img src="../static/images/logo.png"/>
			</div>
		</div>
		<div class="box-right-search">
			<div class="to-dropdown">
				<span class="search-type">all</span><span class="glyphicon glyphicon-triangle-bottom"></span>
				<div class="menu-dropdown">
                    <ul>
                        <li><strong><a href="#">ALL</a></strong></li>
                        <li><strong><a href="#">Websites</a></strong></li>
                        <li><strong><a href="#">Collections</a></strong></li>
                        <li><strong><a href="#">Elements</a></strong></li>
                        <li><strong><a href="#">Magazine</a></strong></li>
                        <li><strong><a href="#">Jobs</a></strong></li>
                        <li><strong><a href="#">Users</a></strong></li>
                    </ul>
                </div>
			</div>
			<input type="text" id="search-text" placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)" data-placeholder-mobile="SEARCH FOR INSPIRATION" autocomplete="off" class="search-input" value=""/>
			<div class="search-goto">
	            <strong><a href="" class="link-1">SHOW FILTERS</a></strong>
	        </div>
	        <div class="box-close">
			    <span class="glyphicon glyphicon-remove"></span>
			</div>
		</div>
	</div>
	<div class="overlay-content" style="display: block;"></div>

	<div class="showview">
		<div class="head-view">申请列表</div>
		<div class="list-view">
			<table>
				<tr>
					<th>ID</th>
					<th>名称</th>
					<th>邮箱</th>
					<th>性别</th>
					<th>修改</th>
				</tr>
				<tr th:each="tplis : ${}">
					<td th:text="${tplist.}">1</td>		<!-- 用户id -->
					<td th:text="${tplist.}">2</td>		<!-- 名称 -->
					<td th:text="${tplist.}">3</td>		<!-- 邮箱 -->
					<td th:text="${tplist.}">4</td>		<!-- 性别 -->
					<td><input type="submit" value="同意"/></td>
				</tr>
				<tr>
					<th colspan="5">
 						<div class="paging">
 							<div class="lastPage">«</div>
 							<div class="firstPage">首页</div>
 							<ul>
 								<li class="tbPage"></li>
 								<li class="obPage"></li>
 								<li class="nowPage"></li>
 								<li class="oaPage"></li>
 								<li class="taPage"></li>	
 							</ul>
 							<div class="finalPage">末页</div>
 							<div class="nextPage">»</div>
 						</div>
					</th>
				</tr>
			</table>
		</div>
	</div>

</div>
<div class="menu">
	<div class="menu-in">
		<div class="menu-top">
			<!-- <div class="pull-left">
				<span>setting</span>
			</div> -->
			<div class="pull-right">
				<span>close</span>
				<span class="glyphicon glyphicon-remove"></span>
			</div>
		</div>
		<div class="second-menu">
			<a href="spmanage-manlist.html" th:href="@{/spmanage-manlist.html}"><div class="link"><span class="glyphicon glyphicon-user"></span>管理员列表</div></a>
		</div>
		<div class="second-menu">
			<a href="spmanage-applylist.html" th:href="@{/spmanage-applylist.html}"><div class="link"><span class="glyphicon glyphicon-list-alt"></span>申请管理员列表</div></a>
		</div>
		<div class="second-menu">
			<a href="spmanage-addman.html" th:href="@{/spmanage-addman.html}"><div class="link"><span class="glyphicon glyphicon-import"></span>创建管理员</div></a>
		</div>
		<div class="second-menu">
			<a href="spmanage-orderlist.html" th:href="@{/spmanage-orderlist.html}"><div class="link"><span class="glyphicon glyphicon-sort"></span>管理员操作列表</div></a>
		</div>
		<div class="menu-foot"></div>
	</div>

<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/manage.js" th:src="@{/js/manage.js}"></script>
<script type="text/javascript" src="../static/js/zh-page.js" th:src="@{/js/zh-page.js}"></script>
<script th:inline="javascript">
var countPage = [[${page.countpage}]];
var nowPage = [[${page.nowpage}]] + 1;
function topage(page){
	toTpPage(page);
};
function toTpPage(page){
    var zhiyeSel = $(".title-select").val();
    var nanduSel = $(".hard-select").val();
	page = page - 1;
    $.ajax({
        type: "POST",
        url: "tplist.do",
        data: {
            'zhiye' : zhiyeSel,
            'nandu' : nanduSel,
            'nowPage' : page,
            'size' : '10'
        },
        dataType: "json",
        success: function(data){
            if (data!=1) {
                alert('跳转失败');
            }
        }
    });
}
</script>
</body>
</html>