<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8" />
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css"
		href="../static/css/bootstrap.min.css"
		th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/manage.css"
		th:href="@{/css/manage.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/base.css"
		th:href="@{/css/base.css}" />
	<link rel="stylesheet" type="text/css"
		href="../static/css/bootstrap-button.css"
		th:href="@{/css/bootstrap-button.css}"/>
	<link rel="stylesheet" type="text/css"
		href="../static/css/student-santi.css"
		th:href="@{/css/student-santi.css}" />
	<script type="text/javascript" src="../static/js/jquery.js"
		th:src="@{/js/jquery.js}"></script>
</head>
<body class="home">
	<div class="move-right">
		<div class="header">
			<div class="box-left">
				<span class="glyphicon glyphicon-th-list"></span> <span>menu</span>
			</div>
			<div class="box-right">
				<div class="search-info">
					<!-- <span class="glyphicon glyphicon-search"></span>
                    <span>search for inspiration</span> -->
				</div>
				<div class="co-logo"></div>
				<div class="login-btn">
					<a class="totop-img" href="javascript:void(0);"><span
						class="glyphicon glyphicon-collapse-up"></span></a> <a
						class="login-font" href="index.html"><span>Return To
							Home</span></a>
				</div>
				<div class="logo-header">
					<img src="../static/images/logo.png" th:src="@{/images/logo.png}" />
				</div>
			</div>
			<div class="box-right-search">
				<div class="to-dropdown">
					<span class="search-type">all</span><span
						class="glyphicon glyphicon-triangle-bottom"></span>
					<div class="menu-dropdown">
						<ul>
							<li><strong><a href="#">用户</a></strong></li>
							<li><strong><a href="#">题目</a></strong></li>
							<li><strong><a href="#">试卷</a></strong></li>
							<li><strong><a href="#">Elements</a></strong></li>
							<li><strong><a href="#">Magazine</a></strong></li>
							<li><strong><a href="#">Jobs</a></strong></li>
							<li><strong><a href="#">Users</a></strong></li>
						</ul>
					</div>
				</div>
				<input type="text" id="search-text"
					placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)"
					data-placeholder="SEARCH FOR INSPIRATION (HTML5, VR, RED, MINIMAL...)"
					data-placeholder-mobile="SEARCH FOR INSPIRATION" autocomplete="off"
					class="search-input" value="" />
				<div class="search-goto">
					<strong><a href="" class="link-1">SHOW FILTERS</a></strong>
				</div>
				<div class="box-close">
					<span class="glyphicon glyphicon-remove"></span>
				</div>
			</div>
		</div>
		<div class="overlay-content" style="display: block;"></div>
		<div class="release">
			<span class="release-title"><img
				src="../static/images/tishi.png" th:src="@{/images/tishi.png}" /></span> <span
				class="release-content"> <span
				class="glyphicon glyphicon-remove"></span> 最新公告
			</span>
		</div>
		<div class="black-out-curtain">
			<div>
				<h2>主页显示设置</h2>
				<form class="index-show-list">
					<label> <input name="fast-access" type="checkbox"
						value="用户列表" /><span class="glyphicon glyphicon-user"></span>
						用户列表
					</label> <br /> <label> <input name="fast-access" type="checkbox"
						value="添加用户" /><span class="glyphicon glyphicon-download"></span>
						添加用户
					</label> <br /> <label> <input name="fast-access" type="checkbox"
						value="题目列表" /><span class="glyphicon glyphicon-pencil"></span>
						题目列表
					</label> <br /> <label> <input name="fast-access" type="checkbox"
						value="添加题目" /><span class="glyphicon glyphicon-download"></span>
						添加题目
					</label> <br /> <label> <input name="fast-access" type="checkbox"
						value="试卷列表" /><span class="glyphicon glyphicon-list-alt"></span>
						试卷列表
					</label> <br /> <label> <input name="fast-access" type="checkbox"
						value="创建试卷" /><span class="glyphicon glyphicon-download"></span>
						创建试卷
					</label> <br /> <label> <input name="fast-access" type="checkbox"
						value="信息发布" /><span class="glyphicon glyphicon-envelope"></span>
						信息发布
					</label> <br /> <label> <input name="fast-access" type="checkbox"
						value="职业管理" /><span class="glyphicon glyphicon-education"></span>
						职业管理
					</label> <br /> <label> <input name="fast-access" type="checkbox"
						value="个人信息管理" /><span class="glyphicon glyphicon-edit"></span>
						个人信息管理
					</label> <br /> <label> <input type="submit" class="set-index-list" />
					</label>
				</form>
			</div>
		</div>
		<div class="showview">
			<div class="mgmt-index">
                <div>
                    <div class="fast-access"><a href="" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-file"></span>随机试卷</a></div>
                    <div class="fast-access"><a href="student-alltest.html"><span class="glyphicon glyphicon-file"></span> 套题</a></div>
                    <div class="fast-access"><a href="student-info.html"><span class="glyphicon glyphicon-user"></span> 个人信息</a></div>
                    <div class="fast-access"><a href="student-history.html"><span class="glyphicon glyphicon-edit"></span> 考试历史记录</a></div>
                    <div class="fast-access"><a href="student-error.html"><span class="glyphicon glyphicon-list-alt"></span> 错题收集</a></div>
                    <div class="fast-access" style="color: gray">敬请期待...</div>
                </div>
            </div>
			<!-- <div class="rongqi">
				<div class="left-shadow"></div>
				<div class="right-shadow"></div>
				<div class="left-show">
					<a href="http://www.bootcss.com/"
						class="button button-3d button-primary button-rounded">随机试卷</a>
				</div>
				<div class="right-show">
					<a href="http://www.bootcss.com/"
						class="button button-3d button-primary button-rounded">整题试卷</a>
				</div>
			</div> -->
		</div>
		<div class="footers">
			<div class="row">
				<div class="col-md-1">
					<img src="../static/images/1.png" th:src="@{/images/1.png}" />
				</div>
				<div class="col-md-2">
					<ul class="list-inline">
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms of Use</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="menu">
		<div class="menu-in">
			<div class="menu-top">
				<div class="pull-left">
					<span></span>
				</div>
				<div class="pull-right">
					<span>close</span> <span class="glyphicon glyphicon-remove"></span>
				</div>
			</div>
			<div class="second-menu">
				<a href="student-index.html">
					<div class="link">
						<span class="glyphicon glyphicon-home"></span>主页
					</div>
				</a>
				<div class="home">
					题库<span class="glyphicon glyphicon-menu-hamburger"></span>
				</div>
				<ul class="second-menu-home">
					<a href="student-alltest.html">
						<li>套题</li>
					</a>
				</ul>
			</div>
			<div class="second-menu">
				<div class="winners">
					个人中心<span class="glyphicon glyphicon-menu-hamburger"></span>
				</div>
				<ul class="second-menu-winners ">
					<a href="student-info.html">
						<li>基本信息</li>
					</a>
				</ul>
			</div>
			<div class="second-menu">
				<div class="history">
					历史记录<span class="glyphicon glyphicon-menu-hamburger"></span>
				</div>
				<ul class="second-menu-history ">
					<a href="student-history.html">
						<li>考试历史记录</li>
					</a>
					<a href="student-error.html">
						<li>错题收集</li>
					</a>
				</ul>
			</div>
			<div class="menu-foot"></div>
		</div>
	</div>
	<!--  <div class="modal-backdrop fade in"></div> -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">选择时间</h4>
				</div>
				<div class="modal-body">
					<div class="window-fenshu">
						<label class="time"> <span>60</span>分钟
						</label> <label class="time"> <span>90</span>分钟
						</label> <label class="time"> <span>120</span>分钟
						</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
					<button type="button" class="btn btn-primary startTest">开始考试</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal -->
	</div>
</body>
<script src="../static/js/bootstrap.min.js"
	th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/manage.js" th:src="@{/js/manage.js}"></script>
<script type="text/javascript" src="../static/js/student-santi.js"
	th:src="@{/js/student-santi.js}"></script>
<script type="text/javascript">
	// $('#myModal').modal(options);
</script>

</html>