/*!
 izBootstrap
 */
 
 /* ---------------------------------------------------------------------------- */
/* ------------------------------------Html-Body------------------------------- */
/* ---------------------------------------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body { color: #333333;font-size: 16px; font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
html { -webkit-text-size-adjust: none;}
.video embed,.video object,.video iframe { width: 100%;  height: auto;}
img{max-width:100%;	height: auto;width: auto\9; /* ie8 */}

a {color: #79b6e4;text-decoration: none;}

h1 {font-size: 55px;}
h2 {font-size: 45px;}
h3 {font-size: 30px;}
h4 {font-size: 25px;}
h5 {font-size: 20px;}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

p{letter-spacing:0.6px;font-size: 16px;line-height: 30px;}

.center{text-align: center; margin: 0 auto;}
.f-right{float: right;}
.f-left{float: left;}
.t-right{text-align: right;}
.t-left{text-align: left;}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:after, .clearfix:before{clear: both; content: '\0020'; display: block; visibility: hidden; width: 0; height: 0;}

.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/* --Line-- */

hr { margin: 15px auto; padding: 0; max-width: 130px;border: 0; border-top: solid 3px #333;text-align: center;}
hr:after {content: url(../images/dots.png);display: inline-block;position: relative;top: -.8em;padding: 0 .55em;font-family: FontAwesome;color: #333;background-color: #F0F0F0;}

/* --Color-- */
.red {color: #E01563;}
.yellow {color: #E9A820;}
.blue {color: #6ECADC;}
.green {color: #3EB991;}

/* ---------------------------------------------------------------------------- */
/* ---------------------------------Header+Nav--------------------------------- */
/* ---------------------------------------------------------------------------- */
.navbar-default {border-color: transparent;background-color: #222;}
.navbar-default .navbar-brand {font-family: Helvetica,Arial,cursive;color: #6ECADC;}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {color: #6ECADC;}

.navbar-default .navbar-collapse {border-color: rgba(255,255,255,.02);}

.navbar-default .navbar-toggle {border-color: #6ECADC;background-color: #6ECADC;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {background-color: #6ECADC;}

.navbar-default .nav li a {text-transform: uppercase;font-family: Helvetica,Arial,sans-serif;font-weight: 400;letter-spacing: 1px;color: #fff;}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {outline: 0;color: #6ECADC;}

.navbar-default .navbar-nav>.active>a {border-radius: 0;color: #fff;background-color: #6ECADC;}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {color: #fff;background-color: #6ECADC;}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
header{text-align: center;color: #fff;background: url(../images/index-bg.jpg) no-repeat scroll center center ;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;height: 650px;}	
header img{display: block; margin: 200px auto  50px auto;}
header .intro-text .intro-heading {text-transform: uppercase;font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: 700;font-size: 50px;}
header .intro-text .intro-lead-in {margin-bottom: 30px;font-family: 'Shadows Into Light', cursive;font-style: italic;font-size: 42px;}
@media(min-width:635px) {
    header .intro-text {
        padding-bottom: 80px;
    }
}
@media(max-width:420px) {
	header .intro-text .intro-heading {font-size: 33px;}
	header .intro-text .intro-lead-in {font-size: 22px;}
	header .intro-text {padding-bottom: 40px;}
}
/* ---------------------------------------------------------------------------- */
/* -------------------------------------Content-------------------------------- */
/* ---------------------------------------------------------------------------- */
#page-content{}
#page-content.index-page {background: #F0F0F0;}
#page-content.archives-page {padding: 70px 0;background: #F7F7F7;}
#page-content.single-page {padding: 70px 0;background: #F7F7F7;}

/* ---HomePage--- */
.box-content {padding: 100px 0;}
.box-content .heading{margin-bottom: 30px; text-align: center;}
.box-content .heading h2{font-size: 45px;letter-spacing:2px;}
.box-content .heading .intro{margin-bottom: 75px;font-family: 'Shadows Into Light', cursive;font-size:22px;font-style: italic;}

.box-content.box-style {background-attachment:fixed; background-image: url(../images/bg-1.jpg); background-color: #222;color:#fff;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------Services(box-1)------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-1 {text-align: center;}
.box-content.box-1 h3 {margin-bottom:15px;font-size: 25px;}
.box-content.box-1 .wrap-img{margin-bottom:40px;}
.box-content.box-1 .box-item {}

/* ---------------------------------------------------------------------------- */
/* --------------------------------New(box-2)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-2 {}
.box-content.box-2 blockquote {position: relative;padding: 30px 120px;text-align: center;font-size: 44px; }
.box-content.box-2 blockquote:before, .box-content.box-2 blockquote:after {position: absolute;width: 60px;height: 60px;font-size: 130px;line-height: 1; }
.box-content.box-2 blockquote:before {top: 0;left: 0;content: "\201C"; }
.box-content.box-2 blockquote:after {top: 0;right: 0;content: "\201D"; }

@media only screen and (max-width: 1100px) {
 	.box-content.box-2 blockquote {font-size: 30px; } }
@media only screen and (max-width: 960px) {
 	.box-content.box-2 blockquote {padding: 30px 60px; font-size: 18px; }
   	.box-content.box-2 blockquote:before, .box-content.box-2 blockquote:after { width: 30px; height: 30px; font-size: 60px; } }
@media only screen and (max-width: 690px) {
 	.box-content.box-2 blockquote { padding: 10px 30px;font-size: 16px; }
  	.box-content.box-2 blockquote:before,.box-content.box-2 blockquote:after {font-size: 30px; } }

/* ---------------------------------------------------------------------------- */
/* ------------------------------About(box-3)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-3 {}

.timeline {position: relative;padding: 0;list-style: none;}
.timeline:before {content: "";position: absolute;top: 0;bottom: 0;left: 40px;width: 2px;margin-left: -1.5px;background-color: #6ECADC;}
.timeline>li {position: relative;margin-bottom: 50px;min-height: 50px;}
.timeline>li:before,
.timeline>li:after {content: " ";display: table;}
.timeline>li:after {clear: both;}
.timeline>li .timeline-panel {float: right;position: relative;width: 100%;padding: 0 20px 0 100px;text-align: left;}
.timeline>li .timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.timeline>li .timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.timeline>li .timeline-image {z-index: 100;position: absolute;left: 0;width: 80px;height: 80px;margin-left: 0;border: 6px solid #6ECADC;border-radius: 100%;text-align: center;color: #fff;background-color: #6ECADC;}
.timeline>li .timeline-image h4 {margin-top: 12px;font-size: 10px;line-height: 14px;}
.timeline>li.timeline-inverted>.timeline-panel {float: right;padding: 0 20px 0 100px;text-align: left;}
.timeline>li.timeline-inverted>.timeline-panel:before {right: auto;left: -15px;border-right-width: 15px;border-left-width: 0;}
.timeline>li.timeline-inverted>.timeline-panel:after {right: auto;left: -14px;border-right-width: 14px;border-left-width: 0;}
.timeline>li:last-child {margin-bottom: 0;}
.timeline .timeline-heading h4 {margin-top: 0;color: inherit;}
.timeline .timeline-heading h4.subheading {text-transform: none;}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {margin-bottom: 0;}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}
@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}
@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

/* ---------------------------------------------------------------------------- */
/* -------------------------------Team(box-4)---------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-4 {}
.box-content.box-4 .box-item{margin-bottom: 10px; display: inline-block;}
.box-content.box-4 span{display: block; font-weight: bold; margin-top: 10px;}
.box-content.box-4 img{margin: 5px;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------Contact(box-5)-------------------------------- */
/* ---------------------------------------------------------------------------- */
.box-content.box-5 {padding:110px 0 ;}
.box-content.box-5 .box-item{margin: 5px; }
.box-content.box-5 h3 {margin-bottom: 30px;font-size: 35px;}
.box-content.box-5 p {margin-bottom: 20px;}
.box-content.box-5 input {border: 1px solid #777;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.box-content.box-5 textarea {border: 1px solid #777;border-radius: 4px;-webkit-border-radius:4px;-moz-border-radius:4px;height: 240px;}

.message{text-align: center;margin: 100px 0;}
.message .wrap{	padding: 50px; background: #ffffff; border: 1px solid #333333;display: inline-block;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;-khtml-border-radius: 5px;}

/* ---------------------------------------------------------------------------- */
/* -------------------------------------Footer--------------------------------- */
/* ---------------------------------------------------------------------------- */
footer {color: #fff; }
footer p{ margin-bottom: 20px;display:block;}
footer a{color: #6ECADC;}
footer a:hover{color: #333; text-decoration: underline;}
footer .wrap-footer {padding-top: 50px;background-color: #222;}

footer .col-footer{margin-bottom: 50px;}
footer .col-footer .heading{text-align: center;}
footer .col-footer .heading h4{color:#fff;font-size: 24px;margin-bottom: 25px;}
footer .col-footer .content{}

footer .col-footer.footer-1{}
footer .col-footer.footer-1 img{width:40%;}

footer .col-footer.footer-2{}

footer .col-footer.footer-3{}
footer .col-footer.footer-3 img{margin: 10px 0;}
  
footer .copyright {padding: 15px 0;background-color: #F7F7F7;color:#222; text-align:center;}
footer .copyright p, footer .copyright ul{margin: 20px 0;}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Subcribe-------------------------------- */
/* ---------------------------------------------------------------------------- */
#subcribe {margin: 10px 0;}

#subcribe input[type="text"] {
    background:#26232D;
    font: 15px Arial,Helvetica,Sans-serif;
    color: #867B6E;
    width: 100%;
	border-radius: 0px;
    padding: 10px;
    border: 1px solid #aaa;
  
}

/* ---------------------------------------------------------------------------- */
/* ------------------------------------Button---------------------------------- */
/* ---------------------------------------------------------------------------- */
.btn {
	border-radius: 2px;
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;	
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 14px;
}
a.btn:focus{outline: 0;}

.btn-1 {color: #fff;background-color: transparent;border: 2px solid #fff;margin:0 15px 20px 0;min-width: 170px;line-height: 26px;}
.btn-1:hover {color: #000;background-color: #fff;border-color: #fff;}

.btn-2 {background: #333;border: 2px solid transparent;margin:20px 0 50px 0; color:#fff;}
.btn-2:hover {color:#333;border:2px solid #333;background:transparent;}

.btn-3 {background: #6ECADC;margin: 20px 0 10px 0;border: 2px solid transparent;font-size:25px;}
.btn-3:hover {color:#333;border:2px solid #6ECADC;background:transparent;}

.btn-4 {background: #555;border: 2px solid transparent;font-size:18px;}
.btn-4:hover {color:#aaa;border:2px solid #555;background:transparent;text-shadow: none;}

.page-scroll img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -5px;
}

.dropdown-menu{position:absolute;z-index:9999999;display:none;opacity:0;top:0;left:0;-webkit-transition:opacity 0.2s, -webkit-transform 0.2s;transition:opacity 0.2s, transform 0.2s;-webkit-transform:translateY(-20px) scale(0.93);transform:translateY(-20px) scale(0.93);border-radius:3px}.dropdown-menu.dropdown-opened{opacity:1;-webkit-transform:none !important;transform:none !important}.dropdown-menu.fixed{position:fixed}.dropdown-menu.dropdown-anchor-left-top,.dropdown-menu.dropdown-anchor-left-center,.dropdown-menu.dropdown-anchor-left-bottom{-webkit-transform:translateX(-20px) scale(0.93);transform:translateX(-20px) scale(0.93)}.dropdown-menu.dropdown-anchor-right-top,.dropdown-menu.dropdown-anchor-right-center,.dropdown-menu.dropdown-anchor-right-bottom{-webkit-transform:translateX(20px) scale(0.93);transform:translateX(20px) scale(0.93)}.dropdown-menu .dropdown-anchor{border:7px solid #fff}.dropdown-menu .dropdown-anchor,.dropdown-menu .dropdown-anchor::after{position:absolute;content:'';display:inline-block}.dropdown-menu .dropdown-anchor::after{border:6px solid #fff}.dropdown-menu.dark .dropdown-anchor,.dropdown-menu.dark .dropdown-anchor::after{border-color:#32363F}.dropdown-menu.grey-anchor .dropdown-anchor,.dropdown-menu.grey-anchor .dropdown-anchor::after{border-color:#f6f6f6}.dropdown-menu.accent-anchor .dropdown-anchor,.dropdown-menu.accent-anchor .dropdown-anchor::after{border-color:#F57C00}.dropdown-menu.dropdown-anchor-top-left:not(.dropdown-overlay-trigger),.dropdown-menu.dropdown-anchor-top-center:not(.dropdown-overlay-trigger),.dropdown-menu.dropdown-anchor-top-right:not(.dropdown-overlay-trigger){margin-top:10px;margin-left: 10px;}.dropdown-menu.dropdown-anchor-top-left .dropdown-anchor,.dropdown-menu.dropdown-anchor-top-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-top-right .dropdown-anchor{border-top-color:transparent;border-right-color:transparent;border-left-color:transparent;top:-14px}.dropdown-menu.dropdown-anchor-top-left .dropdown-anchor::after,.dropdown-menu.dropdown-anchor-top-center .dropdown-anchor::after,.dropdown-menu.dropdown-anchor-top-right .dropdown-anchor::after{border-top-color:transparent;border-right-color:transparent;border-left-color:transparent;margin-top:-5px;margin-left:-6px}.dropdown-menu.dropdown-anchor-top-left.dropdown-anchor-top-left .dropdown-anchor,.dropdown-menu.dropdown-anchor-top-center.dropdown-anchor-top-left .dropdown-anchor,.dropdown-menu.dropdown-anchor-top-right.dropdown-anchor-top-left .dropdown-anchor{left:15px}.dropdown-menu.dropdown-anchor-top-left.dropdown-anchor-top-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-top-center.dropdown-anchor-top-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-top-right.dropdown-anchor-top-center .dropdown-anchor{left:calc(50% - 7px)}.dropdown-menu.dropdown-anchor-top-left.dropdown-anchor-top-right .dropdown-anchor,.dropdown-menu.dropdown-anchor-top-center.dropdown-anchor-top-right .dropdown-anchor,.dropdown-menu.dropdown-anchor-top-right.dropdown-anchor-top-right .dropdown-anchor{left:calc(100% - 28px)}.dropdown-menu.dropdown-anchor-right-top:not(.dropdown-overlay-trigger),.dropdown-menu.dropdown-anchor-right-center:not(.dropdown-overlay-trigger),.dropdown-menu.dropdown-anchor-right-bottom:not(.dropdown-overlay-trigger){margin-left:-10px}.dropdown-menu.dropdown-anchor-right-top .dropdown-anchor,.dropdown-menu.dropdown-anchor-right-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-right-bottom .dropdown-anchor{border-top-color:transparent;border-right-color:transparent;border-bottom-color:transparent;left:100%}.dropdown-menu.dropdown-anchor-right-top .dropdown-anchor::after,.dropdown-menu.dropdown-anchor-right-center .dropdown-anchor::after,.dropdown-menu.dropdown-anchor-right-bottom .dropdown-anchor::after{border-top-color:transparent;border-right-color:transparent;border-bottom-color:transparent;margin-left:-7px;margin-top:-6px}.dropdown-menu.dropdown-anchor-right-top.dropdown-anchor-right-top .dropdown-anchor,.dropdown-menu.dropdown-anchor-right-center.dropdown-anchor-right-top .dropdown-anchor,.dropdown-menu.dropdown-anchor-right-bottom.dropdown-anchor-right-top .dropdown-anchor{top:11px}.dropdown-menu.dropdown-anchor-right-top.dropdown-anchor-right-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-right-center.dropdown-anchor-right-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-right-bottom.dropdown-anchor-right-center .dropdown-anchor{top:calc(50% - 7px)}.dropdown-menu.dropdown-anchor-right-top.dropdown-anchor-right-bottom .dropdown-anchor,.dropdown-menu.dropdown-anchor-right-center.dropdown-anchor-right-bottom .dropdown-anchor,.dropdown-menu.dropdown-anchor-right-bottom.dropdown-anchor-right-bottom .dropdown-anchor{top:calc(100% - 26px)}.dropdown-menu.dropdown-anchor-bottom-left:not(.dropdown-overlay-trigger),.dropdown-menu.dropdown-anchor-bottom-center:not(.dropdown-overlay-trigger),.dropdown-menu.dropdown-anchor-bottom-right:not(.dropdown-overlay-trigger){margin-top:-10px}.dropdown-menu.dropdown-anchor-bottom-left .dropdown-anchor,.dropdown-menu.dropdown-anchor-bottom-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-bottom-right .dropdown-anchor{border-right-color:transparent;border-bottom-color:transparent;border-left-color:transparent;top:100%}.dropdown-menu.dropdown-anchor-bottom-left .dropdown-anchor::after,.dropdown-menu.dropdown-anchor-bottom-center .dropdown-anchor::after,.dropdown-menu.dropdown-anchor-bottom-right .dropdown-anchor::after{border-right-color:transparent;border-bottom-color:transparent;border-left-color:transparent;margin-top:-7px;margin-left:-6px}.dropdown-menu.dropdown-anchor-bottom-left.dropdown-anchor-bottom-left .dropdown-anchor,.dropdown-menu.dropdown-anchor-bottom-center.dropdown-anchor-bottom-left .dropdown-anchor,.dropdown-menu.dropdown-anchor-bottom-right.dropdown-anchor-bottom-left .dropdown-anchor{left:15px}.dropdown-menu.dropdown-anchor-bottom-left.dropdown-anchor-bottom-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-bottom-center.dropdown-anchor-bottom-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-bottom-right.dropdown-anchor-bottom-center .dropdown-anchor{left:calc(50% - 7px)}.dropdown-menu.dropdown-anchor-bottom-left.dropdown-anchor-bottom-right .dropdown-anchor,.dropdown-menu.dropdown-anchor-bottom-center.dropdown-anchor-bottom-right .dropdown-anchor,.dropdown-menu.dropdown-anchor-bottom-right.dropdown-anchor-bottom-right .dropdown-anchor{left:calc(100% - 28px)}.dropdown-menu.dropdown-anchor-left-top:not(.dropdown-overlay-trigger),.dropdown-menu.dropdown-anchor-left-center:not(.dropdown-overlay-trigger),.dropdown-menu.dropdown-anchor-left-bottom:not(.dropdown-overlay-trigger){margin-left:10px}.dropdown-menu.dropdown-anchor-left-top .dropdown-anchor,.dropdown-menu.dropdown-anchor-left-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-left-bottom .dropdown-anchor{border-top-color:transparent;border-bottom-color:transparent;border-left-color:transparent;left:-14px}.dropdown-menu.dropdown-anchor-left-top .dropdown-anchor::after,.dropdown-menu.dropdown-anchor-left-center .dropdown-anchor::after,.dropdown-menu.dropdown-anchor-left-bottom .dropdown-anchor::after{border-top-color:transparent;border-bottom-color:transparent;border-left-color:transparent;margin-left:-5px;margin-top:-6px}.dropdown-menu.dropdown-anchor-left-top.dropdown-anchor-left-top .dropdown-anchor,.dropdown-menu.dropdown-anchor-left-center.dropdown-anchor-left-top .dropdown-anchor,.dropdown-menu.dropdown-anchor-left-bottom.dropdown-anchor-left-top .dropdown-anchor{top:11px}.dropdown-menu.dropdown-anchor-left-top.dropdown-anchor-left-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-left-center.dropdown-anchor-left-center .dropdown-anchor,.dropdown-menu.dropdown-anchor-left-bottom.dropdown-anchor-left-center .dropdown-anchor{top:calc(50% - 7px)}.dropdown-menu.dropdown-anchor-left-top.dropdown-anchor-left-bottom .dropdown-anchor,.dropdown-menu.dropdown-anchor-left-center.dropdown-anchor-left-bottom .dropdown-anchor,.dropdown-menu.dropdown-anchor-left-bottom.dropdown-anchor-left-bottom .dropdown-anchor{top:calc(100% - 26px)}.dropdown-menu.max-height ul{max-height:184px}.dropdown-menu ul{min-width:150px;list-style:none;background:#FFF;box-shadow:0 3px 5px rgba(0,0,0,0.1);overflow:auto;padding:5px 0;margin:0}.dropdown-menu ul li{list-style:none;padding:0;margin:0;line-height:18px}.dropdown-menu ul li>a,.dropdown-menu ul li label{display:block;color:#555;text-decoration:none;line-height:18px;padding:5px 15px;white-space:nowrap;transition:all 0.1s}.dropdown-menu ul li>a svg,.dropdown-menu ul li label svg{height:14px;width:18px;vertical-align:middle;margin-left:-2px;margin-right:4px;margin-top:-3px}.dropdown-menu ul li>a svg path,.dropdown-menu ul li>a svg polygon,.dropdown-menu ul li label svg path,.dropdown-menu ul li label svg polygon{transition:fill 0.1s;fill:#0b0b0b}.dropdown-menu ul li>a span.greenSVG svg path,.dropdown-menu ul li>a span.greenSVG svg polygon,.dropdown-menu ul li label span.greenSVG svg path,.dropdown-menu ul li label span.greenSVG svg polygon{fill:#B7D968}.dropdown-menu ul li>a .flag,.dropdown-menu ul li label .flag{padding-bottom:1px}.dropdown-menu ul li>a:not(.grey):hover,.dropdown-menu ul li>a:hover,.dropdown-menu ul li label:not(.grey):hover,.dropdown-menu ul li label:hover{background-color:#F57C00;color:#FFF !important;cursor:pointer}.dropdown-menu ul li>a:not(.grey):hover svg path,.dropdown-menu ul li>a:not(.grey):hover svg polygon,.dropdown-menu ul li>a:hover svg path,.dropdown-menu ul li>a:hover svg polygon,.dropdown-menu ul li label:not(.grey):hover svg path,.dropdown-menu ul li label:not(.grey):hover svg polygon,.dropdown-menu ul li label:hover svg path,.dropdown-menu ul li label:hover svg polygon{fill:#fff}.dropdown-menu ul li>a.active,.dropdown-menu ul li label.active{-webkit-user-select:none;-moz-user-select:none;user-select:none;cursor:default;pointer-events:none;color:#999;background:#f6f6f6}.dropdown-menu ul li>a.grey:hover,.dropdown-menu ul li label.grey:hover{cursor:default}.dropdown-menu ul li>a.disabled,.dropdown-menu ul li>a.disabled:hover,.dropdown-menu ul li>a.disabled:active,.dropdown-menu ul li label.disabled,.dropdown-menu ul li label.disabled:hover,.dropdown-menu ul li label.disabled:active{-webkit-user-select:none;-moz-user-select:none;user-select:none;cursor:default;pointer-events:none;cursor:default;color:#999}.dropdown-menu ul li.title{padding:7.5px 15px;background:#f6f6f6;color:#999;font-family:"Roboto","Open Sans",sans-serif;font-size:12px;text-transform:uppercase;border:0;border-top-left-radius:3px;border-top-right-radius:3px}.dropdown-menu ul li.title.grey{background:#999;color:#F57C00}.dropdown-menu ul li.title.light{background:#f6f6f6;color:#fccfa2}.dropdown-menu ul li.title.accent{background:#F57C00;color:#fccfa2}.dropdown-menu ul li>a:hover small.grey{opacity:0.75;color:#fff}.dropdown-menu ul li:first-child.divider{display:none}.dropdown-menu.right-aligned{text-align:right}.dropdown-menu.right-aligned ul li a svg{margin-right:0;margin-left:4px}.dropdown-menu .divider{height:1px;background:#e0e0e0;margin:5px 1px;overflow:hidden}.dropdown-menu.dark.assign-dropdown ul li a{color:#fff}.dropdown-menu.dark.assign-dropdown ul li a:hover{background:#F57C00;color:#fff}.dropdown-menu.dark ul{background:#32363F}.dropdown-menu.dark ul li>a,.dropdown-menu.dark ul li label{color:#939aaa}.dropdown-menu.dark ul li>a svg path,.dropdown-menu.dark ul li>a svg polygon,.dropdown-menu.dark ul li label svg path,.dropdown-menu.dark ul li label svg polygon{fill:#778093}.dropdown-menu.dark ul li>a.active,.dropdown-menu.dark ul li label.active{color:#7f889a;background:#393d48}.dropdown-menu.dark ul li>a.active.green,.dropdown-menu.dark ul li label.active.green{background:#B7D968;color:#fff}.dropdown-menu.dark ul li>a.active.green svg path,.dropdown-menu.dark ul li>a.active.green svg polygon,.dropdown-menu.dark ul li label.active.green svg path,.dropdown-menu.dark ul li label.active.green svg polygon{fill:#fff}.dropdown-menu.dark ul li>a.active.accent,.dropdown-menu.dark ul li label.active.accent{background:#F57C00;color:#fff}.dropdown-menu.dark ul li>a.active.accent svg path,.dropdown-menu.dark ul li>a.active.accent svg polygon,.dropdown-menu.dark ul li label.active.accent svg path,.dropdown-menu.dark ul li label.active.accent svg polygon{fill:#fff}.dropdown-menu.dark ul .divider{background:rgba(255,255,255,0.08)}@media screen and (max-width: 420px){.dropdown-menu ul li>a{line-height:32px;padding-left:24px;padding-right:24px}}
.dropdown-has-anchor ul li a{
    color: black !important;
}
.page-scroll span{
    font-size: 20px;
    float: right;
    margin-left: 5px;
}